.hero {
  background: #f4ebdc;
  padding: 20px 0 26px;
}

.hero__container {
  display: flex;
  max-width: 1440px;
  padding: 2px 50px 0 100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero__container > div {
  flex: 50%;
}

.hero__title {
  font-family: "Brilon", serif;
  color: #2b3b2b;
  font-size: 42px;
  font-weight: 600;
  line-height: 67px;
  margin: 50px 0 7px;
}

.hero__text {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #5b5b5b;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__right img {
  width: calc(100% + 100px);
}

.choose-your-adventure-button {
  background: #2b3b2b;
  color: #fff;
  width: 100%;
  margin: 64px 0 10px;
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 33px;
  padding: 10px 60px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.choose-your-adventure-button:hover {
  background: #ef9177;
}

.hero__button .choose-your-adventure-button {
  width: 100%;
  margin: 64px 0 10px;
}

.hero__benefits {
  display: flex;
  column-gap: 40px;
  padding-top: 15px;
}

.hero__benefits-item {
  font-family: "EB Garamond", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.how-it-works {
  display: flex;
  margin: 32px 264px;
  padding: 30px 0 10px;
}

.how-it-works__container {
  display: flex;
  max-width: 1200px;
  margin: 32px auto 32px 0;
  box-sizing: border-box;
}

.how-it-works__container > div {
  flex: 50%;
}

.how-it-works__left {
  padding: 0 15px;
}

.how-it-works__left img {
  width: calc(100% + 100px);
  margin-left: -100px;
}

.how-it-works__right {
  padding: 0 15px;
}

.how-it-works__title {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  color: #2b3b2b;
}

.how-it-works__list {
  margin-top: 16px;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #4d555e;
}

.how-it-works__list ol {
  list-style: decimal inside;
}

.introducing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducing__text-introducing {
  font-family: "EB Garamond", serif;
  color: #2b3b2b;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2em;
}

.introducing__text-flower-letters {
  font-family: "Brilon", serif;
  color: #2b3b2b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2em;
}

.introducing__text-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  font-family: "EB Garamond", serif;
  color: #4d555e;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}

.introducing img {
  margin: 16px 0;
}

.choose-your-adventure__button .choose-your-adventure-button {
  width: 600px;
  margin: 24px 0 36px;
}

.choose-your-adventure__button {
  text-align: center;
}

.choose-your-adventure__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px 10px;
}

.choose-your-adventure img {
  width: 70%;
}

.choose-your-adventure__text {
  display: flex;
  justify-content: flex-end;
  margin-top: -116px;
}

.choose-your-adventure__text p {
  font-family: "EB Garamond", serif;
  color: #4d555e;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
}

.stories-video {
  padding: 30px 0 10px;
}

.stories-video__container {
  display: flex;
  padding: 82px 0 87px;
  max-width: 1200px;
  margin: 0 auto;
}

.stories-video__container > div {
  flex: 50%;
}

.stories-video__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "EB Garamond", serif;
  color: #4d555e;
  padding: 0 15px;
}

.stories-video__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.stories-video__text-container {
  max-width: 90%;
  padding: 30px 0 10px;
  margin: 0 auto;
}

.stories-video__text-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  padding-bottom: 25px;
}

.choose-story {
  padding: 64px 0 32px;
  background: #f4ebdc;
}

.choose-story__container {
  max-width: 1260px;
  padding: 8px 0 10px;
  margin: 0 auto;
}

.choose-story__heading-title, .choose-story__heading-subtitle {
  text-align: center;
}

.choose-story__heading {
  padding: 12px 0 10px;
}

.choose-story__heading-title {
  font-family: "Alice", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50.4px;
  text-transform: capitalize;
}

.choose-story__heading-subtitle {
  font-family: "EB Garamond", serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
}

.choose-story__letter-item {
  display: flex;
  margin: 15px 0 10px;
  padding-top: 30px;
}

.choose-story__letter-item > div {
  flex: 50%;
}

.choose-story__letter-item-image {
  padding: 0 15px;
}

.choose-story__letter-item-description {
  padding: 0 15px;
}

.choose-story__letter-item-description-text, .choose-story__letter-item-description-title {
  font-weight: 400;
  line-height: 1.2em;
  text-transform: capitalize;
}

.choose-story__letter-item-description-title {
  font-family: "Brilon", serif;
  font-size: 22px;
}

.choose-story__letter-item-description-text {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  margin-top: 10px;
}

.choose-story__letter-item-description-price {
  font-family: "EB Garamond", serif;
  margin: 15px 0 0;
  padding: 0 10px;
}

.choose-story__letter-item-description-price > span:nth-of-type(1) {
  margin-right: 5px;
  font-size: 23px;
  text-decoration: line-through;
  line-height: 34.5px;
}

.choose-story__letter-item-description-price > span:nth-of-type(2) {
  font-size: 32px;
  color: #262626;
}

.choose-story__letter-item-description-price > span:nth-of-type(3) {
  padding: 0 18px;
}

.choose-story__letter-item-description-price > span:nth-of-type(3) span {
  background: #104e80;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
  color: #fff;
}

.choose-story__letter-item-description-includes {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  padding: 30px 0 10px;
}

.choose-story__letter-item-description-includes-item {
  display: flex;
  align-items: center;
  padding: 8px;
  column-gap: 22px;
}

.choose-story__letter-item-description-reviews {
  display: flex;
  column-gap: 4px;
  align-items: flex-end;
  margin: 15px 0 15px;
}

.choose-story__letter-item-description-reviews-text {
  color: #000;
  font-family: "Lato", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
}

.choose-story__letter-item-description-see-more-button button {
  background: #104e80;
  padding: 10px 18px 10px 0;
  font-family: "EB Garamond", serif;
  letter-spacing: 1.92px;
  line-height: 36px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: capitalize;
  width: 60%;
  border: 0;
  cursor: pointer;
}

.choose-story__letter-item_reverse {
  flex-direction: row-reverse;
}

.choose-story__review-img {
  margin: 20px 0 0;
}

.join-us {
  padding: 30px 0 10px;
  background: #f3f0e7;
}

.join-us__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px 10px;
}

.join-us__title {
  font-family: "EB Garamond", serif;
  margin-top: 80px;
  font-size: 38px;
  line-height: 1.2em;
  color: #2b3b2b;
  font-weight: 800;
}

.join-us__subtitle {
  font-family: "EB Garamond", serif;
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.5em;
  color: #4d555e;
  font-weight: 500;
}

.join-us__text {
  margin-top: 16px;
}

.carousel, .carousel-2 {
  padding: 0 0 30px;
}

.carousel-controls {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
  margin: 30px 34px 10px;
}

.carousel-controls button {
  background: none;
  border: 0;
  cursor: pointer;
}

.carousel-controls button.prev, .carousel-controls button.prev-2 {
  transform: rotate(180deg);
}

.carousel-controls button.slick-disabled {
  opacity: 0.3;
}

.carousel-item, .carousel-2-item {
  font-family: "EB Garamond", serif;
  margin-right: 24px;
  background: #fff;
  padding: 16px 31px;
  border-radius: 16px;
  line-height: 30px;
  box-shadow: 3.5355339059327378px 3.5355339059327373px 12px #3333331a;
  margin-bottom: 10px;
}

.carousel-item h5 {
  font-size: 32px;
  color: #2b3b2b;
  font-weight: 800;
  margin: 0;
}

.carousel-2-item h5 {
  font-family: "Lato", serif;
  font-size: 20px;
  line-height: 24px;
  color: #2b3b2b;
  font-weight: 700;
  margin: 0;
}

.carousel-item p, .carousel-2-item p {
  font-size: 20px;
  color: #5b5b5b;
  font-weight: 400;
}

.join-us__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "EB Garamond", serif;
  color: #4d555e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.join-us__text p {
  text-align: center;
}

.join-us__button {
  text-align: center;
}

.join-us__button .choose-your-adventure-button {
  width: 600px;
  margin: 28px 0 10px;
}

.join-us-faq {
  color: #2b3b2b;
}

.join-us-faq__title {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-top: 80px;
}

.join-us-faq__qa-list {
  display: flex;
  column-gap: 30px;
  padding: 38px 15px 10px;
}

.join-us-faq__qa-list > div {
  flex: 50%;
}

.reviews {
  padding: 30px 0 10px;
}

.reviews__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.reviews__title {
  font-family: "EB Garamond", serif;
  color: #2b3b2b;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 18px;
  text-align: center;
}

.reviews__button {
  text-align: center;
}

.reviews__button .choose-your-adventure-button {
  width: 600px;
  margin: 0 0 10px;
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: 33px;
    line-height: 52.8px;
  }
}

@media (max-width: 990px) {
  .hero__title {
    font-size: 28px;
    line-height: 44.8px;
  }

  .hero__text {
    font-size: 22px;
    line-height: 35.2px;
  }
}
