.hero {
  background: #f4ebdc;
  padding: 20px 0 26px;
}

.hero__container {
  display: flex;
  max-width: 1440px;
  padding: 2px 50px 0 100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero__container > div {
  flex: 50%;
}

.hero__title {
  font-family: "Brilon", serif;
  color: #2b3b2b;
  font-size: 42px;
  font-weight: 600;
  line-height: 67px;
  margin: 50px 0 7px;
}

.hero__text {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #5b5b5b;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__right img {
  width: calc(100% + 100px);
}

.hero__button button {
  background: #2b3b2b;
  color: #fff;
  width: 100%;
  margin: 64px 0 10px;
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 33px;
  padding: 10px 60px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.hero__button button:hover {
  background: #ef9177;
}

.hero__benefits {
  display: flex;
  column-gap: 40px;
  padding-top: 15px;
}

.hero__benefits-item {
  font-family: "EB Garamond", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.how-it-works {
  display: flex;
  margin: 32px 264px;
  padding: 30px 0 10px;
}

.how-it-works__container {
  display: flex;
  max-width: 1200px;
  margin: 32px auto 32px 0;
  box-sizing: border-box;
}

.how-it-works__container > div {
  flex: 50%;
}

.how-it-works__left {
  padding: 0 15px;
}

.how-it-works__left img {
  width: calc(100% + 100px);
  margin-left: -100px;
}

.how-it-works__right {
  padding: 0 15px;
}

.how-it-works__title {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  color: #2b3b2b;
}

.how-it-works__list {
  margin-top: 16px;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #4d555e;
}

.how-it-works__list ol {
  list-style: decimal inside;
}

.introducing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducing__text-introducing {
  font-family: "EB Garamond", serif;
  color: #2b3b2b;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2em;
}

.introducing__text-flower-letters {
  font-family: "Brilon", serif;
  color: #2b3b2b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2em;
}

.introducing__text-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  font-family: "EB Garamond", serif;
  color: #4d555e;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}

.introducing__text-description p {
  margin: 0;
}

.introducing img {
  margin: 16px 0;
}

.choose-your-adventure button {
  background: #2b3b2b;
  color: #fff;
  width: 600px;
  margin: 24px 0 36px;
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 33px;
  padding: 10px 60px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.choose-your-adventure__button {
  text-align: center;
}

.choose-your-adventure__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px 10px;
}

.choose-your-adventure img {
  width: 70%;
}

.choose-your-adventure__text {
  display: flex;
  justify-content: flex-end;
  margin-top: -116px;
}

.choose-your-adventure__text p {
  font-family: "EB Garamond", serif;
  color: #4d555e;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
}

.stories-video {
  padding: 30px 0 10px;
}

.stories-video__container {
  display: flex;
  padding: 82px 0 87px;
  max-width: 1200px;
  margin: 0 auto;
}

.stories-video__container > div {
  flex: 50%;
}

.stories-video__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "EB Garamond", serif;
  color: #4d555e;
  padding: 0 15px;
}

.stories-video__text p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.stories-video__text-container {
  max-width: 90%;
  padding: 30px 0 10px;
  margin: 0 auto;
}

.stories-video__text-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  padding-bottom: 25px;
}
